<ion-view view-title="About Us" class="barcolor">
  <ion-content>
     <div class="card">
        <div class="item item-divider">
            <h3>Our Contact Details</h3>
        </div>
        <div class="item">
		  <p>Moreleta Park<br>
		  Pretoria<br>
		  South Africa<br>
		  <i class="icon ion-iphone"></i>: 083 442 1290<br>
		  <i class="icon ion-email"></i>:<a href="mailto:ourpartynest@gmail.com"> ourpartynest@gmail.com</a><br>
		  <i class="icon ion-social-facebook"></i>:<a href="http://www.facebook.com/ourpartynest"> Facebook</a></p>
        </div>
    </div>
    <div class="card">   
        <div class="item item-divider">
                <h3>Profile</h3>
        </div>
        <div class="item item-text-wrap">
                <p>Cupcake ipsum dolor sit amet topping tootsie roll marzipan jelly. Tart cheesecake croissant icing liquorice tootsie roll jelly beans. Gingerbread donut powder. Cotton candy pastry marzipan dragée.
Fruitcake jelly pastry. Cheesecake carrot cake marshmallow halvah dessert jelly beans caramels. Brownie cheesecake muffin cupcake lollipop. Cotton candy gummies cupcake donut tiramisu jelly beans gingerbread chocolate bar.
Dessert pudding marshmallow pastry muffin brownie croissant pastry. Chocolate cupcake topping cotton candy candy gummies toffee gummi bears jelly. Lollipop jelly beans pudding cookie pie dragée powder donut halvah.
Donut chocolate cake jelly beans chocolate cake macaroon. Chocolate cake lemon drops lemon drops. Brownie sesame snaps toffee tiramisu chocolate cake sweet.
Chocolate cake brownie cheesecake. Halvah jelly donut powder. Wafer topping macaroon caramels jujubes.</p>
        </div>
    </div>
    <div class="card">  
            <p style="padding:10px;"></p>
            <p align=center>© Copyright 2016 Party Nest</p>
    </div>
  </ion-content>
</ion-view>