<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content class="bar-stable">
    <ion-nav-bar class="barcolor">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large">
    <ion-header-bar class="barcolor">
      <h1 class="title">PartyNest Options</h1>
    </ion-header-bar>
    <ion-content class="barcolor">
      <ion-list>
        <ion-item menu-close href="#/app/home">
          <i class="icon ion-home"></i> Home
        </ion-item>
        <ion-item menu-close href="#/app/aboutus">
          <i class="icon ion-information-circled"></i> About Us
        </ion-item>
        <ion-item menu-close href="#/app/products">
          <i class="icon ion-ios-list"></i> Products
        </ion-item>
        <ion-item menu-close href="#/app/wishlist"  ng-if="loggedIn">
          <i class="icon ion-heart"></i> My Wishlist
        </ion-item>
        <ion-item menu-close ng-click="showContactForm()">
          <i class="icon ion-email"></i> Contact Us
        </ion-item>
        <ion-item class="item-divider" ng-if="loggedIn">
            {{username}}
        </ion-item>
        <ion-item menu-close ng-click="login()" ng-if="!loggedIn">
          <i class="icon ion-log-in"></i> Login
        </ion-item>
        <ion-item menu-close ng-click="register()" ng-if="!loggedIn">
          <i class="icon ion-person-add"></i> Register
        </ion-item>
        <ion-item menu-close ng-click="logout()" ng-if="loggedIn">
          <i class="icon ion-log-in"></i> Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
